---
layout: page
title: Acerca de <i>On the way!</i>
---
<div lang="es">
    <h2 style="text-align:center">Presentación</h2>
      <p>El presente sitio web fue creado en el marco del seminario <i>Digital Publishing with Minimal computing: humanities at a global scale</i> organizado por la University 
      of Maryland (Estados Unidos) y la Universidad del Salvador (Argentina) y dirigido por el Dr. Raffaele Viglianti y la Dra. Gimena del Rio Riande, con el soporte técnico 
      de la Mg. Nidia Hernández y la Lic. Romina de León, miembros del laboratorio del Centro Argentino de Información Científica y Tecnológica del Consejo Nacional de 
      Investigaciones Científicas y Técnicas (CAICyT-CONICET), Argentina.</p>
      
      <p><i>On the way!</i> busca alojar los resultados de las actividades que realizan cuatro estudiantes de habla inglesa y española durante la cursada con el objeto 
        de difundir su proceso de aprendizaje, sus logros y, además, fomentar el trabajo colaborativo en el campo de las Humanidades Digitales. El equipo internacional 
        pretende realizar una edición digital multilingüe de fragmentos de <i>Relación de un viaje al Río de la Plata</i> de Acarette du Biscay (obra literaria del siglo XVII) desde una 
        perspectiva crítica y humanista empleando las técnicas de la computación mínima (<i>Minimal Computing</i>) y estándares abiertos como los de la Text Encoding Initiative 
        (TEI-XML) para el tratamiento y la edición de textos.</p>
      
    <h2 style="text-align:center">Equipo</h2>
        <p><a href="/mith301project/_pages/claudia/"><b>Claudia Aguilar</b></a> (University of Maryland, Estados Unidos) aportará ideas y sus conocimientos en diseño gráfico, que pueden ser útiles en la creación del sitio web.</p>

        <p><a href="/mith301project/_pages/Hopeson/"><b>Hopeson Ehizele</b></a> (University of Maryland, Estados Unidos) hará uso de sus conocimientos en IT y programación para contribuir con el equipo.</p>

        <p><a href="/mith301project/_pages/federicosardi/"><b>Federico Sardi</b></a> (Universidad de la República, Montevideo, Uruguay) contribuirá en la traducción de los contenidos y asistiendo en la comunicación bilingüe Inglés-Español.</p>

        <p><a href="/mith301project/_pages/gabrielastriker/"><b>Gabriela Striker</b></a> (Universidad de Buenos Aires, Argentina) contribuirá  con sus conocimientos filológicos, literarios e históricos y con su experiencia básica  en codificación de 
            textos en XML-TEI desarrollada en el proyecto argentino <i>Reis Trobadors</i> (en curso) dirigido por la Dra. Gimena del Rio.</p>
</div>
<a href="/mith301project/_pages/About">English version</a>