---
layout: page
title: Editorial principles
---

<div>
    
    <p>Our proposal for a digital edition of "Description of Buenos Aires"/"Descripción de Buenos Aires" is based on principles gathered in <i>TEI Simple Print Guidelines</i> (2017).</p>
    <p>We also offer modernized reading versions, understandable to any English and Spanish language reader, which include graphic and phonetic normalization in accordance with current linguistic conventions, the development of abbreviations as well as significant amendments and other editorial interventions. Here we detaile the specific criteria: 
        <h3>1. Regularization</h3>
        <p>We marked up each normalized item with the <i>reg</i> element and the form found in the source with the <i>orig</i> tag in the following cases:</p>
        <ul>
            <li>1.1. Capitalization</li>
            <p>In both versions we used capital letters for the beginning of the sentence and proper names that we marked up with the <i>name</i> tag and its <i>type</i> attribute. In addition, the English version keeps capital letters in nationalities such as <i>English</i>, <i>Dutch</i>, <i>Portuguese</i>.</p>
            <li>1.2. In "Description of Buenos Aires":</li>
            <ul>
                <li>1.2.1. Grapheme ſ/s</li>
                    <p>We normalized the numerous <i>ſ</i>  (long s) that we found recurrently, for example, at the beginning of words (<i>ſmall</i>, <i>ſurrounded</i>, <i>ſix</i>, <i>ſingle</i>), in intervocalic contexts in a simple or double way (<i>uſually</i>, <i>encloſure</i>, <i>neceſſity</i>, <i>impoſſible</i>) and in final syllables (<i>Engliſh</i>, <i>confeſs</i>, <i>paſs</i>).</p>
                <li>1.2.2. Grapheme y/i</li>
                    <p>We used <i>i</i> instead of <i>y</i> only in diphthongs that we found in Spanish terms like <i>Buenos Ayres</i>.</p>
            </ul>
            <li>1.3. In "Descripción de Buenos Aires":</li>
            <ul>
                <li>1.3.1. Accentuation</li>
                <p>We removed and added accents according to current Spanish spelling conventions.</p>
                <li>1.3.2. Grapheme f/h</li>
                <p>We regularized archaic forms that began with <i>f</i> (<i>fierro</i>) and today are recognized with <i>h</i> (<i>hierro</i>).</p>
                <li>1.3.3. Grapheme g/j</li>
                <p>We adapted the use of <i>g/j</i> (which was once indistinct and that we found, for example, in <i>gefes</i>) to the contemporary orthographic use (<i>jefes</i>).</p>
                <li>1.3.4. Grapheme s/x</li>
                <p>We incorporated the use of <i>x</i> instead of <i>s</i> in: <i>estranjeros</i>, <i>estremos</i>, <i>estremadamente</i>, <i>escelentes</i>, <i>escepcion</i>.</p>
            </ul>
        </ul>
        <h3>2. Development of abbreviations</h3>
    <p>We indicated the abbreviations with the <i>abbr</i> element and then we developed them with the <i>expan</i> tag to facilitate the modern reader a clear interpretation of the text. They can be displayed in gray, for example, “1 <i>shilling</i> 6 <i>pence</i>” is the expanded form of the abbreviated construction “1 s. 6 d. English” and “<i>livers</i>” represents an expansion of the abbreviation “l.” in the English version.</p>
        <h3>3. Word division</h3>
    <p>We splitted the words according to the current spelling as long as the semantic value offered by the source is preserved. For example, we divided <i>apesar</i> and <i>hacepor</i> in the first paragraph of the Spanish version.</p>
        <h3>4. Amendments</h3>
    <p>We decided to correct only those mistakes that we can attribute to the copying process and that comprise, in our opinion, significant variations in relation to contemporary semantic use. We used <i>sic</i> to mark up the mistake and <i>corr</i> for the amended form. For example, we corrected <i>Riochuelo</i> in both versions and other words such as <i>extreamly</i> and <i>frecuentemeate</i>, <i>buluarte</i>, <i>perque</i>, <i>peros</i>, among others.</p>
        <h3>5. Other editorial interventions</h3>
        <ul>
            <li>5.1. Mistakes by omission</li>
                <p>We used <i>supplied</i> tag to add missing letters, which can be seen in square brackets in standard texts. In the Spanish version we noted, for example, several absences of <i>s</i> at the end of pronouns that are necessary for the agreement with the noun in plural number: <i>su[s]</i>.</p> 
            <li>5.2. Foreign words</li>
                <p>By means of the <i>foreign</i> element we indicated the words in foreign language highlighted in the source, such as <i>livers</i> in the Spanish fragment, and we keep their italics.</p>
        </ul>

</div>
<a href="/mith301project/_pages/Criteriosdeedicion/">Versión en español</a>