---
layout: tei
title: Descripción de Buenos Aires
document: Descripcion_Espanol.xml
---
<div>
  <p>Edición digital (versión castellana)</p>
</div>
<!--El título puede cambiarse por algo más relacionado con el texto?-->