---
layout: page
title: Federico Sardi
---

<div>
    <p> Principal bassoon of the Montevideo Philharmonic.</p>
    <p> Born in Montevideo, Uruguay in 1990.</p>
    <h1>Studies</h1>
    <ol>
        <li>2002-2008 - Degree in Music (Bassoon), Montevideo's Conservatory, Uruguay.</li>
        <li>2016-2018 - Master in Music (Bassoon), Mannheim University, Germany.</li>
        <li>2013 - Master in Cultural Management, Córdoba University, Argentina.</li>
    </ol>
    <h1>Languages</h1>
    <ul>
        <li>Spanish</li>
        <li>English</li>
        <li>Portuguese</li>
        <li>Italian</li>
        <li>German</li>
    </ul>
</div>

<!-- Started example bio 2020-10-07 -->