---
layout: default
permalink: /
---
<div lang="en">
  <h1>Welcome to <i>On the way!</i></h1>
  <p style="text-align: justify"><i> On the way!</i> seeks to host the results of the activities carried out by four English and Spanish-speaking students during the <i>Digital Publishing with Minimal computing: humanities at a global scale</i> seminar directed by Dr. Raffaele Viglianti and Dr. Gimena del Rio Riande. This international and multilingual team wants to promote collaborative work in the field of Digital Humanities, with the scope of learning and integrating digital humanities databases and software such as GitLab, Visual Studio Code and Jekyll. Its main goal is to develop and publish a multilingual digital edition of fragments of the (literary work) <i>Account of a Voyage up the River de la Plata</i> (17th century) by Acarette du Biscay from a critical and humanistic perspective using Minimal Computing techniques and open standards such as those of the Text Encoding Initiative (TEI-XML) for the processing and editing of texts.</p>
  <a href="/mith301project/_pages/example1_Description/">English edition</a>
</div>
<div lang="es">
  <h1>¡Bienvenidos a <i>On the way!</i></h1>
  <p style="text-align: justify"><i> On the way!</i> busca alojar los resultados de las actividades que realizan cuatro estudiantes de habla inglesa y española durante el seminario <i>Digital Publishing with Minimal computing: humanities at a global scale</i> dirigido por el Dr. Raffaele Viglianti y la Dra. Gimena del Rio Riande. El equipo internacional y multilingüe pretende promover el trabajo colaborativo en el campo de las Humanidades Digitales, utilizando e integrando bases de datos y software de Humanidades Digitales como GitLab, Visual Studio Code y Jekyll. Su principal objetivo es desarrollar y publicar una edición digital multilingüe de fragmentos de la (obra literaria) <i>Relación de un viaje al Río de la Plata</i> de Acarette du Biscay (siglo XVII) desde una perspectiva crítica y humanista empleando las técnicas de la computación mínima (Minimal Computing) y estándares abiertos como los de la Text Encoding Initiative (TEI-XML) para el tratamiento y la edición de textos.</p>
  <a href="/mith301project/_pages/example2_Descripcion/">Edición en español</a>
</div>